body{
    margin: 50px;
}

.employeeTable, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

.employeeTable {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}