body{
    margin: 50px;
}

.employeeTable {    
    border: 1px solid #ddd;
    text-align: left;
}

.employeeTable {
    border-collapse: collapse;
    width: 100%;
}

th, tr {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}